/* Main progressão de carga */

.preogressao-titulo {
    color: #0001DB;
    font-size: 25px;
    padding: 20px;
}

.progressaocarga-janela {
    width: 75%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.progressaocarga-janela-dados {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}


.progressaocarga-janela-exercicios {
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.progressaocarga-janela-carga {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.progressaocarga-janela-botao-calcular {
    color:#D9D9D9;
    background-color: #0001DB;
    max-width: 25%;
    margin-top: 20px;
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
    border:none;
    padding: 5px;
}

.progressaocarga-janela-botao-calcular:hover{
    background-color: white;
    color: #0001DB;
}

.progressaocarga-resultado {
    border: 1px solid #ccc;
    padding: 20px; 
    margin: 20px; 
    max-width: 30%;
    background-color: white;
}
