* {font-family: 'Inter', sans-serif;}

body {
    background-color: #fffef3;
}


/* Header */

.header-logo {
    display: inline;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}



.header-menu-lista {
    display: flex;
}

.header-menu-lista li {
    padding: 15px;
}

.header-menu-lista a {
    text-decoration: none;
    color: black;
}

.header-login-lista a {
    text-decoration: none;
}

.header-login-lista {
    display: flex;
}

.header-login-lista li {
    padding: 5px;
    
}



/* Main */

.main-widgets {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-widgets section {
    padding: 20px;
}

.main-widget-titulo {
    color:#0001DB;
}

.main-widget-imc {
    border: 2px solid black;
    background-color: #D9D9D9;
}

.main-widget-treino {
    border: 2px solid black;
    background-color: #D9D9D9;
}



/* Footer */

.footer-conteudo {
    display: flex;
    justify-content: space-between;
    padding: 25px ;
}



